
*.log
*.log
*.exe
*.pb
*.rlx
*.wpc
*.wdf
*.bat
AMAZEingGame.sim/sim_1/behav/xsim/elaborate.log
*.log
AMAZEingGame.sim/sim_1/behav/xsim/xvlog.log
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@player@drawer.sdb
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@mux2.sdb
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@maze1_sim.sdb
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@maze1@f@s@m.sdb
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@maze1.sdb
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/$unit_@maze1_sv.sdb
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/xsimkernel.log
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/xsimk.exe
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/xsim.xdbg
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/xsim.svtype
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/xsim.rtti
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/xsim.rlx
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/xsim.reloc
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/xsim.mem
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/xsim.dbg
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/webtalk/xsim_webtalk.tcl
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/webtalk/.xsim_webtallk.info
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/TempBreakPointFile.txt
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/obj/xsim_1.win64.obj
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/obj/xsim_1.c
AMAZEingGame.sim/sim_1/behav/xsim/xsim.dir/Maze1_sim_behav/obj/xsim_0.win64.obj
AMAZEingGame.sim/sim_1/behav/xsim/xelab.pb
AMAZEingGame.sim/sim_1/behav/xsim/simulate.bat
AMAZEingGame.sim/sim_1/behav/xsim/Maze1_sim_vlog.prj
AMAZEingGame.sim/sim_1/behav/xsim/Maze1_sim_behav.wdb
AMAZEingGame.sim/sim_1/behav/xsim/elaborate.log
AMAZEingGame.sim/sim_1/behav/xsim/elaborate.bat
AMAZEingGame.sim/sim_1/behav/xsim/compile.log
AMAZEingGame.sim/sim_1/behav/xsim/compile.bat
AMAZEingGame.runs/synth_1/gen_run.xml
AMAZEingGame.runs/impl_1/gen_run.xml
AMAZEingGame.cache/wt/xsim.wdf
AMAZEingGame.cache/wt/project.wpc
